body {
  background: #ececec;

  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

header {
  border-bottom: 1px solid #f9f7fe;
  padding: 30px 0;
}

main {
  padding: 30px 0;
}
footer {
  border-top: 0px solid #f9f7fe;
  font-size: 13px;
  text-align: center;
  padding: 30px 0 0 0;
  color: rgba(0, 0, 0, 0.6);
}
.weather-app {
  background-color: #ececec;
  max-width: 600px;
  margin: 30px auto;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  border-radius: 16px;
  padding: 30px;
}

.search-form-input {
  background-color: #ececec;
  border: none;
  border-radius: 6px;
  width: 80%;
  padding: 15px 20px;
  font-size: 16px;
}

.search-form-button {
  border: none;
  background: #5585b5;
  padding: 15px 20px;
  color: white;
  border-radius: 6px;
  font-size: 16px;
  margin-left: 5px;
}

.search-form-button:hover {
  background-color: #79c2d0;
  cursor: pointer;
}

.weather-app-data {
  display: flex;
  justify-content: space-between;
}

.weather-city {
  margin: 0;
  line-height: 48px;
  font-size: 38px;
}

.weather-details {
  font-size: 16px;
  line-height: 26px;
  color: rgba(39, 33, 66, 0.4);
  font-weight: 500;
}
.weather-app strong {
  color: #5585b5;
}
.weather-temperature {
  display: flex;
  font-weight: bold;
}
.weather-app-icon {
  width: 88px;
  height: 88px;
}
.weather-app-unit {
  margin-top: 25px;
  font-size: 20px;
}
.weather-app-temperature {
  font-size: 80px;
  margin-left: 10px;
  font-weight: bold;
  line-height: 88px;
}
#time {
  font-weight: bold;
  color: #5585b5;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: black;
  display: flex;
  justify-content: space-around;
}
.weather-forecast-day:hover {
  background: #e4e2e2;
}
.weather-forecast-date {
  font-size: 16px;
  opacity: 0.9;
  color: rgb(0, 0, 0);
}
.weather-forecast-temperatures {
  font-size: 13px;
}

.weather-forecast-temperature-min {
  opacity: 0.6;
}
.weather-forecast-icon img {
  width: 88px;
  height: 88px;
  display: block;
  margin: 0 auto;
}
